.header-element {
  margin: 0 0 48px 0;
}

.header-element__block {
  position: relative;
}

.header-element__link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  list-style: none;
  top: 56px;
  background-color: #f2f2f2;
  border-radius: 30px;

  &--left {
    left: 30px;
  }

  &--right {
    right: 30px;
  }
}

.header-element__arrow-icon {
  margin: 0 0 0 -4px;
}
